In [3]:
import pandas as pd
import numpy as np
from datetime import datetime,date

In [36]:
''' 1) read excel
2) setting all counsellor names to lower case'''
df_combined_clean= pd.read_excel('combined_clean.xlsx')
df_combined_clean['Counsellor Name'] = df_combined_clean['Counsellor Name'].str.upper()
df_combined_clean = df_combined_clean.iloc[: , 1:]
df_combined_clean['Date'] = pd.to_datetime(df_combined_clean['Date']).dt.date

In [37]:
df_combined_clean.head()

         Date Counsellor Name Course Name  Fees Received  Fees Total
0  2020-04-01              SK        CADM         5000.0      5000.0
1  2020-04-01              SK        CDCW         7500.0      7500.0
2  2020-04-01              SK        CDCW         9500.0      9500.0
3  2020-04-01              SK        CDCW         9500.0      9500.0
4  2020-04-01              SK        CDCW         9000.0      9000.0

In [38]:
'''getting all the cousellor names and store them in a list'''
counsellor_names = list(df_combined_clean['Counsellor Name'].unique())
print(counsellor_names)

['SK', 'NK', 'NC', 'MM', 'IJ', 'SS', 'CD', 'KIM', 'SAHIBA', 'LAIBA', 'MANISHA', 'GARIMA', 'NAMRATA', 'HEMLATA', 'HONEY', 'AYUSHI', 'SUNNY', 'MEHJABEE', 'CHANDRIKA', 'IQRA', 'MINALI', 'NEELAM', 'POOJA', 'DEEPAK', 'ANAM', 'VIBHATI', 'VIKAS', 'AKANSHA', 'POONAM', 'FAIZA', 'SUNITA', 'MUSHIR', 'SHANNO', 'TINKI', 'KAMAL', 'PARMINDER', 'ANJALI', 'VARSHA', 'DANISH', 'ARYA', 'APOORVA', 'SHAROON', 'DIWAKAR', 'DEEPAK ARYA', 'JYOTI', 'URVASHI', 'AJAY', 'ABHISHEK', 'MANISH', 'RUBY', 'NAVEEN', 'SIMRAN', 'TARUN', 'ANKIT', 'SAMREEN', 'SUYAL', 'VINEETA', 'ABHISHEK CHAUHAN', 'VIPIN', 'PRIYANKA', 'KOMAL', 'SAKSHI', 'NIMRA', 'SONAM', 'DEEPTI', 'PANKAJ', 'KHALID', 'DEEPENDER', 'SONALI', 'UJJAL', 'BHOOMIKA', 'VIDUSHI']

In [39]:
'''make a copy of orginal data. all the operations will be 
performed on this copy'''
df_combined_clean_working = df_combined_clean.copy()

In [40]:
'''grouping data by counsellor name and month'''
df_combined_clean_working_group = df_combined_clean_working.groupby(['Counsellor Name','Date']).agg({'Fees Received': ['sum']})

In [41]:
print(df_combined_clean_working_group)

                           Fees Received
                                     sum
Counsellor Name Date
ABHISHEK        2020-04-01      393000.0
                2020-05-01      483050.0
                2020-06-01      260650.0
                2020-07-01      236450.0
                2020-08-01      278900.0
...                                  ...
VIPIN           2021-03-01      376650.0
                2021-04-01      404200.0
                2021-05-01      537870.0
                2021-06-01      507907.0
                2021-07-01      438175.0

[357 rows x 1 columns]

In [42]:
df_combined_clean_working_group.loc['SK','Fees Received']

                 sum
Date
2020-04-01  187000.0
2020-05-01  167000.0
2020-06-01  166000.0
2020-07-01  262000.0
2020-08-01  275624.0
2020-09-01  143000.0
2020-10-01   95499.0
2020-11-01   42500.0
2020-12-01  111000.0

In [34]:
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.backends.backend_pdf import PdfPages

In [44]:
'''1) setting tick interval
2) using loop to plot all data at once. k is the index in list counsellor name 
and j is its value'''
#yticks_interval = [0, 500000, 50000,100000,150000,200000,250000,300000,350000,400000,450000,500000]
with PdfPages('data_visualisation_all.pdf') as pdf:
    for k, j in enumerate(counsellor_names):
        df_combined_clean_working_group.loc[j].plot(kind= 'bar',subplots=True, figsize=(6, 6))
        #plt.yticks(yticks_interval)
        plt.title(j)
        plt.tight_layout()
        pdf.savefig()
        plt.close()
#plt.show()